<!DOCTYPE html>
<html>
  <head>
    <title>Answer Form</title>
  </head>
  <body>
    <form action="{{ url_for('render_result') }}" method="POST">
      <input type="submit" value="Submit">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      {% for problem in problems %}
        <p>No.{{problem[1]}}
        <select name={{problem[1]}}>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
         </select>
        </p>
      {% endfor %}
      <input type=hidden name=test value=test>
    </form>
  </body>
</html>