<!DOCTYPE html>
<html>
  <head>
    <title>Answer Form</title>
  </head>
  <body>
    <form action="{{ url_for('save_user_answer') }}" method="POST">
      <input type="submit" value="Submit">
      <p>{{csrf_hash}}<p>
      <input type="hidden" name='csrf_hash' value={{csrf_hash}}>
      {% for problem in problems %}
        <p>No.{{problem[1]}}
        <select name={{problem[1]}}>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
         </select>
        </p>
      {% endfor %}
    </form>
  </body>
</html>