<!DOCTYPE html>
<html>
<head>
<title>Sign up</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='sign_up.css') }}">
</head>
<body>
  <div id="main">
    <center><b>Sign up for TOEIC-Marker</b></center>
    <div class="box">
    <form action="{{ url_for('sign_up') }}" method='POST'>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <label class="label"><b>E-mail address</b></label><br>
      <input type="text" placeholder="Email address" name="email_address"/><br>
      <label class="label"><b>Password</b></label><br>
      <input type="text" placeholder="Password" name="password"/><br>
      <label><input type="checkbox" id="cbox1" value="first_checkbox">Remember me</label><br>
      <input type="submit" value="Sign up"/>
    </form>
      <div style="margin-left: 0; margin-top: 15%; position: absolute; ">Sign in <a href="{{ url_for('sign_in') }}">here</a></div>
    </div>
  </div>
</body>
</html>